In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",
}

In [3]:
url = "https://finance.yahoo.com/quote/ADA-USD/history/?period1=1588550400&period2=1732815268"
response = requests.get(url, headers = headers)

In [4]:
response.ok

True

In [5]:
soup = BeautifulSoup(response.text)

In [6]:
rows = soup.find_all('tr', class_='yf-j5d1ld')[1:]
data = []
for row in rows:
    cells = row.find_all('td')
    row_data = [cell.text for cell in cells]
    data.append(row_data)

columns = ["Date", "Open", "High", "Low", "Close", "Adjusted Close", "Volume"]
df = pd.DataFrame(data, columns=columns)
df['Volume'] = df['Volume'].str.replace(',', '').astype(float)
columns_to_convert = ['Open', 'High', 'Low', 'Close', 'Adjusted Close']
df[columns_to_convert] = df[columns_to_convert].astype(float)
df

,Date,Open,High,Low,Close,Adjusted Close,Volume
0,"Nov 28, 2024",1.0133,1.0288,0.9774,1.0035,1.0035,1.663422e+09
1,"Nov 27, 2024",0.9612,1.0367,0.9354,1.0133,1.0133,2.606240e+09
2,"Nov 26, 2024",0.9457,0.9884,0.8797,0.9612,0.9612,2.875635e+09
3,"Nov 25, 2024",1.0231,1.0699,0.9336,0.9457,0.9457,3.241381e+09
4,"Nov 24, 2024",1.0662,1.0945,0.9483,1.0231,1.0231,3.863056e+09
...,...,...,...,...,...,...,...
1665,"May 8, 2020",0.0511,0.0535,0.0510,0.0523,0.0523,1.726477e+08
1666,"May 7, 2020",0.0497,0.0515,0.0489,0.0511,0.0511,1.434797e+08
1667,"May 6, 2020",0.0493,0.0511,0.0490,0.0498,0.0498,1.313572e+08
1668,"May 5, 2020",0.0497,0.0505,0.0490,0.0494,0.0494,1.280668e+08
1669,"May 4, 2020",0.0490,0.0502,0.0465,0.0497,0.0497,1.722437e+08

In [7]:
df.to_csv('data.csv', index = False)